<!doctype html>
<html>
<head>
    <title>Sudoku Solver</title>
</head>
<body>
    <h1>Sudoku Solver</h1>
    <form action="/solve" method="post">
        {% for row in range(9) %}
            <div>
                {% for col in range(9) %}
                    <input type="text" name="cell" maxlength="1" size="1">
                {% endfor %}
            </div>
        {% endfor %}

        <!-- <div id="grid">
            <div id="grid-1">
                <p>Nome: <input placeholder="Name and Surname" id="nome"></p>
                <p>mail: <input placeholder="Email" id="mail"></p>
                <p>tel: <input placeholder="Telephone" id="tel"></p>
            </div>
            <div id="grid-2">
                <p>addr: <input placeholder="Address" id="indirizzo"></p>
                <p>City: <input placeholder="City" id="citta"></p>
                <p>PostCod: <input placeholder="PosteCode" id="pc"></p>
            </div>
            <div id="grid-3">
                <p>CardNumber: <input placeholder="Card Number" id="provola"></p>
                <p>CountryCode <input placeholder="IT,UK,...." id="paese"></p>
                <p>Card Type <input placeholder="american_express, master, visa, solo, paypal" id="tipo"></p>
            </div>
            <div id="grid-4">
                <p>ExpirationMonth: <input placeholder="01,02,03,04,05,06,07,08,09,10,11,12" id="mese"></p>
                <p>ExpirationYear: <input placeholder="2018,2019..." id="anno"></p>
                <p>Cvv: <input id="cvv"></p>
            </div>
        </div> -->
        <button type="submit">Solve</button>
    </form>
</body>
</html>
